<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoring Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="dropdown">
      <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown">Navigation
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="index.html">Home</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="scoring.html">Scoring Page</a></li>
          <li><a href="play.html">Play Page</a></li>
      </ul>
    </div>   
    

    <div class="container">
      <div class="row">
        <div class="jumbotron text-center">
          <h1>TOP GUNS!!!?</h1>
          <p1>Who are the top Players?</p1>
        </div>
      </div>   
    </div>
      
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <h2>Need a table here that calculates totals by login.</h2><br>
            <!-- <p>Once everyone is logged in, the questions will begin to be asked.</p><br>
            <p>You will have 10 seconds to respond with the correct answer." </p><br>
              <!-- <a class="btn btn-primary btn-lg" href="https://www.imdb.com/list/ls066164634/"target="_blank" role="button">Learn More</a> and the IMDb "Ugly Celebrities" <a class="btn btn-primary btn-lg" href="https://www.imdb.com/list/ls064405717/" target="_blank" role="button">Learn more</a> to model "Hot" or "Not".  </p><br>  -->
            <!-- <p>Correct answers result in recording the second of completion.</p><br> --> 
            <!-- <p>The faster you answer correctly, the higher your score.</p><br>
            <p>After 10 questions, there is a 60 second break.</p><br>
            <p>There are 5 rounds, totalling 50 questions</p><br>
            <p>Top score gets bragging rights!</p><br>            -->
            <!-- <p><a class="btn btn-primary btn-lg" href="hottest"role="button">LOGIN!</a></p> -->
          </div>
      </div>  
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="./static/js/table.js"></script>

  </body>
</html>
